<div class="add-edit-main-container">
    <form *ngIf="note " [formGroup]="noteForm" (ngSubmit)="onSubmit()">
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input" placeholder="Type your Notes's Title..." formControlName="title"
                            [(ngModel)]="note.title" required type="text">
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control" [ngClass]="[(noteForm?.controls?.body.touched && noteForm?.controls?.body.invalid) ? 'invalid' : '']">
                        <textarea [(froalaModel)]="note.body"
                             [froalaEditor]="options"
                            class="textarea" rows="15" formControlName="body" required type="textarea"></textarea>
                    </p>
                </div>
            </div>
        </div>
        <div class="field form-footer" [ngClass]="new ? 'justify-content-end' : 'justify-content-between'">
            <p class="control form-updated-date" *ngIf="!new">
                <span class="form-updated-text">Last Modified: </span> <span>{{ note.updatedAt | date : 'MMM d, y, h:mm a' }}</span>
            </p>
            <p class="control">
                <button type="submit" [disabled]="noteForm.invalid" class="button is-primary">
                    <span class="icon-text">
                        <span>Save</span>
                        <span class="icon">
                            <i class="fa fa-save"></i>
                        </span>
                    </span>
                </button>
            </p>
        </div>
    </form>
</div>