.add-edit-main-container {
    padding-left: 3rem;

    .field-label {
        flex-grow: unset;
    }

    input {

        &.ng-invalid.ng-touched {
            border-color: red;
        }
    }

    .invalid {
        .fr-box.fr-basic.fr-top {
            border: 2px solid red;
        }
    }

    .fr-box.fr-basic.fr-top{
        .fr-wrapper, .fr-second-toolbar {
            background: #F3F5FA;
        }
    }

    .form-footer {
        display: flex;
        align-items: center;

        &.justify-content-end {
            justify-content: end;
        }

        &.justify-content-between {
            justify-content: space-between;
        }

        .form-updated-date {
            font-size: 15px;
            opacity: 0.8;

            .form-updated-text {
                font-weight: bold;
            }
        }
    }
}